.cont-Followcard{
    display: flex;
    align-items: center;
    color : #fff;
    justify-content: space-between;
}

.follow-card-header{
    display: flex;
    align-items: center;
    gap: 4px;
}


.follow-card-info{
    display: flex;
    flex-direction: column;
}



.follow-card-infoUserName span{
    opacity: .6;
}

.follow-card-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}

.follow-card-button{
    margin-left: 16px;
    border:0;
    border-radius: 999px;
    padding: 6px 16px;
    cursor: pointer;
}

.follow-card-button:hover{

    background-color: rgb(127, 168, 255);
    transition: .3s ease background-color;
}